.navbar {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.navbar ul {
  list-style: none;
  text-decoration: underline;
}

.navbar li {
  display: inline-block;
  text-decoration: underline;
  padding: 10px;
}
