.proad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-container {
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin to separate the buttons from the text */
}

.sportsbook-button,
.turbo-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sportsbook-button:hover,
.turbo-button:hover {
  background-color: #0056b3;
}
